@import "../../styles/variables.module.scss";

.collapse {
    width: 170px;
}

.panel {
    background-color: white;
}

.checkboxGroup {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}