@import "../../styles/variables.module.scss";

.collapse {
    width: 170px;
    border-radius: 10px;
    border: 1px solid $lightGrey;
    overflow: hidden;
}

.panel {
    background-color: white;
}

.checkboxGroup {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}