@import "../../styles/variables.module.scss";

.wrapper {
    display: flex;
    align-items: center;
}

.quantityValue {
    display: flex;
    width: 42px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}