@import "../../styles/variables.module.scss";

.wrapper {
    display: flex;
    align-items: center;
}

.quantityValue {
    display: flex;
    width: 42px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $lightGrey;
    border-bottom: 1px solid $lightGrey;
    background-color: white;
}