@import "../../styles/variables.module.scss";

.orderPage {
    padding: 30px 0;
}

.orderHeading {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}

.orderWrapper {
    display: flex;
    justify-content: space-between;
}

.userInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 18px;
}

.orderData {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartHeading {
    text-align: center;
    margin-bottom: 20px;
}

.cartWrapper {
    width: 50%;
}

// .loaderWrapper {
//     position: absolute;
//     width: 100%;
//     height: 100%;
// }