.cartTable {
    width: 80%;
}

.productImageLink {
    width: 70px;
    height: 50px;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quantityWrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.total {
    width: 100%;
    font-size: 18px;
    text-align: center;
}