@import '../../../../styles/variables.module.scss';

.registerFormContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formHeading {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.submit {
    background-color: $magenta;
    color: white;
    font-size: 16px;
    line-height: 25px;
    padding: 7px 15px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: $lighterMagenta;
    }
}

.input {
    width: 100%;
}

.registerButton {
    margin-top: 10px;
}

@media (max-width: 650px) {
    .formHeading {
        font-size: 20px;
    }
}