@import "../../styles/variables.module.scss";

.cartPage {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cartPageHeading {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.cartTable {
    font-size: 18px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.clear {
    align-self: center;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.total {
    font-size: 18px;
}