@import "../../styles/variables.module.scss";

.cartPage {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.cartPageHeading {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.cartTable {
    width: 80%;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.total {
    font-size: 18px;
}

@media (max-width: 900px) {
    .cartTable {
        width: 90%;
    }

    .buttonsContainer {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .cartTable {
        width: 100%;
    }

    .buttonsContainer {
        width: 100%;
    }
}