* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: 24px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

input,
textarea,
button {
    appearance: none;
    border-radius: 0;
    border: none;
    font-family: "Source Sans Pro", sans-serif;
}

input::placeholder,
textarea::placeholder {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

button {
    background-color: transparent;
    line-height: 125%;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

textarea {
    resize: none;
}

/* Styles for static modal */

.ant-btn-primary {
    background-color: #9e1068 !important;
    border-radius: 0 !important;
}

.ant-btn-primary:hover {
    background-color: #ab2c76 !important;
}