* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: 24px;
    color: white;
    background-color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

input,
textarea,
button {
    appearance: none;
    border-radius: 0;
    border: none;
    font-family: "Source Sans Pro", sans-serif;
}

input {
    backdrop-filter: blur(35px) !important;
}

input::placeholder,
textarea::placeholder {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.65) !important;
}

button {
    background-color: transparent;
    line-height: 125%;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

textarea {
    resize: none;
}

/* Styles for ant design components */

.ant-input-lg {
    width: 350px !important;
}

.ant-badge .ant-badge-count {
    color: white;
}

.ant-table-cell {
    color: white !important;
}

.ant-table {
    border-radius: 10px !important;
    border: 2px solid rgba(255, 255, 255, 0.165) !important;
}

.ant-table-thead {
    backdrop-filter: blur(35px) !important;
}

.ant-table-footer {
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(35px) !important;
}

.ant-collapse {
    border: 2px solid rgba(255, 255, 255, 0.165) !important;
    backdrop-filter: blur(35px) !important;
    background: rgba(255, 255, 255, 0.1) !important;
}

.ant-collapse-item {
    background: transparent;
}

.ant-collapse-item:nth-child(3) {
    border-bottom: none;
}

.ant-checkbox-wrapper {
    position: relative;
}

.ant-select-selector {
    backdrop-filter: blur(35px) !important;
}

.ant-select-selection-item {
    color: white !important;
}

.ant-select-selection-placeholder {
    color: rgba(255, 255, 255, 0.65) !important;
}

.ant-select-arrow svg {
    fill: white !important;
}

.ant-select-dropdown {
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(35px) !important;
    border: 1px solid rgba(255, 255, 255, 0.165) !important;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25) !important;
}

.ant-select-item-option-selected {
    background: rgba(255, 255, 255, 0.2) !important;
}

.ant-select-item-option-active {
    background: rgba(255, 255, 255, 0.1) !important;
}

.ant-select-item-option-selected.ant-select-item-option-active {
    background: rgba(255, 255, 255, 0.2) !important;
}

.ant-message-notice-content {
    background: rgba(255, 255, 255, 0.2) !important;
    border: 2px solid rgba(255, 255, 255, 0.265) !important;
}

.ant-result-subtitle {
    color: white !important;
}

.ant-modal-wrap {
    backdrop-filter: brightness(75%);
}

.ant-modal-content {
    background: rgba(55, 55, 55, 0.95) !important;
    border: 2px solid rgba(255, 255, 255, 0.165) !important;
}

.ant-modal-content .ant-btn {
    background: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.165) !important;
}

.ant-modal-content .ant-btn:hover {
    border: 1px solid #36cfc9 !important;
    color: #36cfc9;
}

.ant-modal-confirm-title,
.ant-modal-confirm-content {
    color: white !important;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(70%);
}