@import "../../styles/variables.module.scss";

.logo {
    svg path {
        fill: $cyan;
        transition: fill 0.4s;
    }

    &:hover {
        svg path {
            fill: white;
        }
    }
}