@import "../../../../styles/variables.module.scss";
@import "../../../../styles/animations.module.scss";

.productCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 375px;
    padding: 14px;
    gap: 10px;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.165);
    backdrop-filter: blur($blur);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: fadeIn 0.7s;

    &:hover {
        .image {
            transform: scale(1.05);
        }
    }
}


.image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    transition: transform 0.4s;
    will-change: transform;
}

.productName {
    font-size: 18px;
    transition: color 0.4s;

    &:hover {
        color: $cyan;
    }
}

.productStatsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productColor {
    font-size: 14px;
    color: rgb(193, 193, 193);
    line-height: 1;
}

.productPrice {
    font-size: 18px;
}

@media (max-width: 1350px) {
    .productCard {
        height: 355px;
    }

    .image {
        height: 230px;
    }
}

@media (max-width: 1250px) {
    .productCard {
        height: 325px;
    }

    .image {
        height: 200px;
    }
}

@media (max-width: 1151px) {
    .productCard {
        height: 375px;
    }

    .image {
        height: 250px;
    }
}

@media (max-width: 1080px) {
    .productCard {
        height: 365px;
    }

    .image {
        height: 240px;
    }
}

@media (max-width: 980px) {
    .productCard {
        height: 330px;
    }

    .productName,
    .productPrice {
        font-size: 16px;
    }

    .image {
        height: 210px;
    }
}

@media (max-width: 920px) {
    .productCard {
        height: 285px;
        gap: 7px;
    }

    .productName,
    .productPrice {
        font-size: 14px;
    }

    .productColor {
        font-size: 12px;
    }

    .productStatsWrapper {
        gap: 7px;
    }

    .image {
        height: 185px;
    }
}

// @media (max-width: 920px) {
//     .productCard {
//         height: 275px;
//     }

//     .productPrice {
//         font-size: 14px;
//     }

//     .image {
//         height: 185px;
//     }

//     .productStatsWrapper {
//         flex-direction: row;
//         justify-content: space-between;
//         align-items: center;
//     }
// }

// @media (max-width: 920px) {
//     .productCard {
//         height: 295px;
//     }
// }