@import "../../styles/variables.module.scss";

.userData {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    width: fit-content;
}

.accentText {
    font-weight: 700;
}