.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    flex-grow: 1;
    position: relative;
}

@media (max-width: 1100px) {
    .wrapper {
        padding: 0 40px;
    }
}

@media (max-width: 500px) {
    .wrapper {
        padding: 0 30px;
    }
}

@media (max-width: 375px) {
    .wrapper {
        padding: 0 20px;
    }
}