@import "../../styles/variables.module.scss";

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 40px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: calc(100% - 80px);
        height: 1px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $lightGrey;
    }
}

.shop {
    font-size: 24px;
    color: black;
    transition: color 0.4s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:hover {
        color: $magenta;
    }
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 40px;
}

.cart {
    position: relative;
    padding: 5px;

    &:hover {
        .cartIcon {
            color: $magenta;
        }
    }
}

.cartIcon {
    width: 30px;
    color: black;
    transition: color 0.4s;

    svg {
        width: 100%;
        height: 100%;
    }
}

.account {
    padding: 5px;

    &:hover {
        .accountIcon {
            color: $magenta;
        }
    }
}

.accountIcon {
    width: 26px;
    transition: color 0.4s;
    color: black;

    svg {
        width: 100%;
        height: 100%;
    }
}

.count {
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $cyan;
    color: white;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
}