.productsWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.productImage {
    object-fit: cover;
    max-width: 70px;
    will-change: transform;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}