@import "../../styles/variables.module.scss";

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    position: relative;
    background: rgba(255, 255, 255, 0.1) !important;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    // box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
}

.subscribeContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.socialsContainer {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialIcon {
    color: $cyan;
    padding: 10px;
    transition: color 0.4s;

    svg {
        width: 28px;
        height: 28px;
    }

    &:hover {
        color: $lighterCyan;
    }
}