@import "../../styles/variables.module.scss";

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: calc(100% - 80px);
        height: 1px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $lightGrey;
    }
}

.subscribeContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.socialsContainer {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialIcon {
    color: $cyan;
    padding: 10px;
    transition: color 0.4s;

    svg {
        width: 28px;
        height: 28px;
    }

    &:hover {
        color: $darkerCyan;
    }
}

.socialIconInst {
    color: $magenta;

    &:hover {
        color: lighten($lighterMagenta, 10%);
    }
}