@import "../../styles/variables.module.scss";

.accountPage {
    padding: 30px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.accountHeading {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.userDataWrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.userInfoHeading {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    margin-bottom: 14px;
}

.dataBtnContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.usersOrdersHeading {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 14px;
    text-align: center;
    line-height: 1;
}

.usersOrders {
    width: 80%;
}

@media (max-width: 1250px) {
    .usersOrders {
        width: 75%;
    }
}

@media (max-width: 950px) {
    .accountPage {
        flex-direction: column;
        gap: 20px;
    }

    .userDataWrapper {
        width: 100%;
    }

    .userData {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .dataBtnContainer {
        flex-direction: row;
        gap: 24px;
        align-items: center;
        position: relative;
        justify-content: flex-end;
        height: 150px;
    }

    .usersOrders {
        width: 100%;
    }
}