@import "../../../../styles/variables.module.scss";

.sortPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}

.filterButton {
    width: 90px;
    transition: opacity 0.2s;
}

.filterButton.pressed {
    opacity: 0;
}

.sortSelect {
    width: 200px;
}

.productsCount {
    font-size: 18px;
}

@media (max-width: 920px) {
    .sortSelect {
        width: 160px;
    }

    .productsCount {
        font-size: 14px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 650px) {
    .sortPanel {
        padding-bottom: 50px;
        margin-bottom: 0;
    }

    .productsCount {
        top: 47px;
        left: 0;
        transform: none;
    }

    .sortSelect {
        width: 150px;
    }
}